.card {
    background-color: #fffffb;
    width: 18rem;
    padding: 1%;
    margin: 1rem;
    display: flex;
    border-radius: 10px;
    align-items: center;
    border: 1px solid rgb(15, 15, 15);
}